/* This css file is used to style the webpage */
/* version: 14/01/2021 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* General Styling */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

:root {
    --nav-footer-color: #05cbfd8f;
    --nav-footer-padding: 10%;
}

/* Set a semi transparent/opaque background for the webpage */

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../downloads/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style the css for the navigation bar */

.navbar {
    width: 100%;
    padding: 0 var(--nav-footer-padding);
    display: flex;
    background-color: var(--nav-footer-color);
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation a {
    color: white;
    padding: 20px 20px;
    font-weight: 700;
}

/* .navigation a:last-of-type{
    padding-right: 0px;
} */

.logo {
    /* background-color: lightblue; */
    height: inherit;
    padding: 4px;
}

/* .logo ion-icon {
    color: white;
    font-size: 55px;
} */

/* *********************************** */

/* Style the bopdy of the homepage */

hr {
    width: 40%;
    height: 5px;
    background-color: #05cbfd;
    margin-top: 25px;
    margin-bottom: 20px;
}

.home_container {
    width: 100%;
    padding: 30px 15%;
    color: white;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

.page_footer {
    color: white;
    background-color: var(--nav-footer-color);
    font-weight: 700;
    padding: 10px var(--nav-footer-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_footer ul {
    display: flex;
    list-style-type: none;
}

.page_footer ul li:not(:last-child) {
    padding-right: 30px;
}

/* .page_footer ion-icon {
    color: white;
    font-size: 25px;
} */

/* Responsive layout - when screen is less than 445px wide */

@media screen and (max-width: 500px) {
    .navigation {
        display: none;
    }
}
